:root {
  --naranjita-color: #ff7948;
}

.container-footer {
  background-color: var(--naranjita-color);
  position: relative;

  height: 80px;
  width: 100%;

  bottom: 0;
  display: flex;
  justify-content: center;
  align-content: center;
}

.centro {
  margin-top: auto;
  margin-bottom: auto;
}
