.elClima {
  text-align: center;

  padding-bottom: 50px;
}
.boton {
  background-color: rgba(255, 255, 255, 0);
  border: 0.5px;
  padding: 20px;
  font-size: large;
}
.imagenClima {
  background-color: grey;
  height: 100px;
  width: 100px;
  margin: 0 auto 0 auto;
  border-radius: 50px;
}

.input {
  background-color: rgba(255, 0, 0, 0);
  padding: 10px;
  border: solid gray;
  color: black;
  font-size: large;
}
